<html>
<head>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
  <script type='text/javascript' src='js/ZeroClipboard.js'></script>
  <script id='swf-path'></script>
</head>
<body>
  <a href='/'>Casper</a>
  <br>
  <br>
  <div id='clipboard-input'></div>
  <br>
  <div id='my-button' style='font-family:courier;cursor:pointer;display:none;padding:6px;background-color:lightgray' onmousedown='push()' onmouseup='release()'  data-clipboard-target='clipboard-input' title='Click to copy to clipboard.' data-copied-hint='Copied!'>Copy</div>
  <script src='js/cutandpaste.js'></script>
</body>
</html>
