<html>
<head>
  <link rel='stylesheet' type='text/css' href='/css/main.css'>
</head>
<body>
  <a href='/'>Casper</a>
  <ul>
    <li><a href='.'>Text Secret</a></li>
    <li><a href='.'>Image Secret</a></li>
    <li><a href='.'>Video Secret</a></li>
    </ul><br>
    <form id='set-form' method='post' action=''>
    <br>Secret
    <br><textarea type='text' name='secret' rows='4' cols='50' placeholder='What is your secret'></textarea >
    <br>TTL
    <br><input id='set-value' type='text' name='ttl' placeholder='TTL (seconds)' value=''/>
    <br><br><input type='submit' />
    </form>
</body>
</html>
